html, body, #container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
}

.box {
  max-width: 550px;
  height: 650px;
  background-color: #F91046;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
  margin: auto;
  z-index:-2;
}
.boxthree {
  max-width: 550px;
  height: 650px;
  background-color: #008000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
  margin: auto;
  z-index:-1;
}

.boxtwo {
  width: 500px;
  height: 7000px;
  background-color: #292FE8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100;
  right: 0;
  margin: auto;
  z-index:-2
}

.btn {
    background-color: white;
    color: #333333;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:none;
    font-size: 14px;
    z-index: +5;
    font-family: Times;
}
.btn:active {
  background-color: darkgrey ;
}

.text {
  max-width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100;
  right: 0;
  color:#FFFFFF;
  margin:auto;
}

.me {
  width: 500px;
  height: 500px;
    background-image:url(./img/newblood.jpg);
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 200;
    margin: auto;
}
.story {
  width: 550px;
  height: 550px;
    background-image:url(./img/Untitled-story2.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 95px;
    right: 0px;
    margin: auto;
}
.mission {
  width: 550px;
  height: 550px;
    background-image:url(./img/Aboutmedit7.png);
    color:white;
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1px;
    margin: auto;
    z-index: -1;
}
.text2 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 100;
  right: 0;
  color:#FFFFFF;
  margin:auto;
}

.choice {
  width: 550px;
  height: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70px;
    margin: auto;
}
.boox {
  width:100px;
  height:30px;
  position:fixed;
  right:300px;
  top:110px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #F7F145;
}

.boox2 {
  width:100px;
  height:30px;
  position:fixed;
  right:100px;
  top:100px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox3 {
  width:415px;
  height:350px;
  position:fixed;
  left:990px;
  top:220px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #1B1949;
  z-index:-2;
}

.boox4 {
  width:100px;
  height:30px;
  position:fixed;
  right:100px;
  top:140px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox5 {
  width:100px;
  height:30px;
  position:fixed;
  right:300px;
  top:140px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox6 {
  width:1000px;
  height:1000px;
  position:absolute;
  right:402px;
  top:700px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
    z-index:-1;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.noskills {
  width: 550px;
  height: 550px;
    background-image:url(./img/skillk1.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 945px;
    right: 0;
    margin: auto;
    z-index:-1;
}

.vid {
  position:absolute;
  left:80px;
  top:740px;
  opacity: 0.9;
  z-index: +3;
}

.scrolltest {
  background-color: #bbb;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 1000px;
}

/* .skills {
  width: 1000px;
  height: 1000px;
    background-image:url(./img/sklfrmt.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 1600px;
    bottom: 0;
    right: 400px;
    margin: auto;
    z-index: -1;
} */

.contact {
  width: 1000px;
  height: 800px;
    background-image:url(./img/Project11.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 1500px;
    bottom: 0;
    right: 320px;
    margin: auto;
    z-index: 0;
}

.sig {
  width: 1500px;
  height: 1000px;
    background-image:url(./img/ciggg.png);
    background-repeat:no-repeat;
    position: absolute;
    left:100px;
    margin: auto;
    z-index:-3;
}

.boox7 {
  width:1000px;
  height:1000px;
  position:absolute;
  right:402px;
  top:700px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
  z-index:+3;
}

.form {
width:415px;
height:230px;
position:fixed;
left:990px;
top:220px;
border-radius:6px;
margin-top:4px;
display:inline-block;
background-color: #F0FFFF;
opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  .page {
    height: 100%;
    width: 100%;
  }
.box {
  width: 140%;
  z-index: -2;
}
.boxtwo {
  width: 130%;
  height:96%;
  left: 0px;
  right:100px;
}
.boxthree {
  width: 140%;
  z-index:-1
}
.boxfour {
  width: 40%;
}
.mission {
  z-index:-1
}
.boox {
  right:250px;
  top:110px;
}
.boox2 {
  position: absolute;
  right:50px;
  top:100px;
}
.vid {
  position:fixed;
  left:0px;
  top:220px;
}
.sig {
  width: 100%;
  height: 100%;
    background-image:url(./img/ciggg.png);
    background-repeat:no-repeat;
    position: absolute;
    left:100px;
    margin: auto;
    z-index:-3;
}
}
