html, body, #container {
  height: 100%;
  overflow: scroll;
}
.page {
  height: 100%;
}

.box {
  width: 550px;
  height: 650px;
  background-color: #F91046;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
  margin: auto;
  z-index:-1;
}
.boxthree {
  width: 550px;
  height: 650px;
  background-color: #008000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
  margin: auto;
  z-index:-1;
}

.boxtwo {
  width: 500px;
  height: 7000px;
  background-color: #292FE8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100;
  right: 0;
  margin: auto;
  z-index:-2
}

.btn {
  position: absolute;
  top: 500px;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height:80px;
  background-color: #292FE8;
}

.text {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100;
  right: 0;
  color:#FFFFFF;
  margin:auto;
}

.me {
  width: 500px;
  height: 500px;
    background-image:url(./img/newblood.jpg);
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 200;
    margin: auto;
}
.story {
  width: 550px;
  height: 550px;
    background-image:url(./img/Untitled-story1.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40px;
    margin: auto;
}
.mission {
  width: 550px;
  height: 550px;
    background-image:url(./img/Aboutmedit5.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70px;
    margin: auto;
}
.text2 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 100;
  right: 0;
  color:#FFFFFF;
  margin:auto;
}

.choice {
  width: 550px;
  height: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70px;
    margin: auto;
}
.boox {
  width:100px;
  height:30px;
  position:fixed;
  right:300px;
  top:110px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #F7F145;
}

.boox2 {
  width:100px;
  height:30px;
  position:fixed;
  right:100px;
  top:100px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox3 {
  width:415px;
  height:350px;
  position:fixed;
  left:990px;
  top:220px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #1B1949;
  z-index:-2;
}

.boox4 {
  width:100px;
  height:30px;
  position:fixed;
  right:100px;
  top:140px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox5 {
  width:100px;
  height:30px;
  position:fixed;
  right:300px;
  top:140px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
}

.boox6 {
  width:1000px;
  height:1000px;
  position:absolute;
  right:402px;
  top:700px;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color: #DFB60F;
    z-index:-1;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.noskills {
  width: 550px;
  height: 550px;
    background-image:url(./img/skillk1.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 945px;
    right: 0;
    margin: auto;
    z-index:-1;
}

.vid {
  position:fixed;
  left:955px;
  top:220px;
}

.scrolltest {
  background-color: #bbb;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 1000px;
}

.skills {
  width: 800px;
  height: 800px;
    background-image:url(./img/skilll.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 1500px;
    bottom: 0;
    right: 550px;
    margin: auto;
}
